<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.andrewalevin.fb22epubbot</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{WORKING_DIRECTORY}}/venv/bin/python3</string>
        <string>-m</string>
        <string>fb22epubbot</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>